# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ESP32
ESP32/build/

# C++ Utils
ESP32/components/cpp_utils/

# Credentials
ESP32/main/esp/WiFiCredentials.hpp
ESP32/main/xmpp/XmppCredentials.hpp
