[submodule "ESP32/externals/smooth"]
	path = ESP32/externals/smooth
	url = https://github.com/PerMalmberg/Smooth.git
[submodule "ESP32/main/xmpp/dxmpp/pugixml/"]
	path = ESP32/main/xmpp/dxmpp/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "ESP32/main/xmpp/dxmpp"]
	path = ESP32/main/xmpp/dxmpp
	url = https://github.com/stefandxm/dxmpp.git
